<html>

<head>
    <title>Test Theme</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>

<body>
    {{#match @page.show_title_and_feature_image}}
        <p>Title + Feature image</p>
    {{/match}}
</body>

</html>