<html>
<head>
    <title>Test Theme</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    {{ghost_head}}
</head>
<body>

    <h1>{{@blog.title}}</h1>
    {{ghost_foot}}
</body>
</html>