<h4 class="pricing-subheader center-text">Uh-Oh, There was an error.</h4>
<section class="center-text">
    <p>{{message}}</p>
    <p>Please visit our <a href="https://ghost.org/slack">slack community</a> and let us know!</p>
</section>
