<section class="gh-section gh-section-gscan">
    <div class="inner">
        <header class="gh-gscan-head">
            <h2 class="report-heading">
                <span class="score {{results.score.level}}">{{results.score.value}} / 100</span>
                <span class="title">Casper 1.2.7</span>
            </h2>
        </header>

        <div class="report-body">
            <div class="results report-section">
                {{#if results.error}}
                <section class="level-group">
                    <header class="level-group-header">
                        <h3 class="level"><span class="indicator error"></span>Must fix:</h3>
                    </header>
                    <div class="rule-group">
                        {{#each results.error}}
                            {{> rule-fail}}
                        {{/each}}
                    </div>
                </section>
                {{/if}}

                {{#if results.warning}}
                <section class="level-group">
                    <header class="result-group-header">
                        <h3 class="level"><span class="indicator warning"></span>Should fix:</h3>
                    </header>
                    <div class="rule-group">
                        {{#each results.warning}}
                            {{> rule-fail}}
                        {{/each}}
                    </div>
                </section>
                {{/if}}

                {{#if results.recommendation}}
                <section class="level-group">
                    <header class="result-group-header">
                        <h3 class="level"><span class="indicator recommendation"></span>Consider fixing:</h3>
                    </header>
                    <div class="rule-group">
                        {{#each results.recommendation}}
                            {{> rule-fail}}
                        {{/each}}
                    </div>
                </section>
                {{/if}}

                {{#if results.pass}}
                <section class="level-group">
                    <header class="result-group-header">
                        <h3 class="level"><span class="indicator passing"></span>{{results.pass.length}} Passed Rules</h3>
                    </header>
                    {{> toggle}}
                    <div class="rule-group details hide">
                        {{#each results.pass}}
                            {{> rule-pass}}
                        {{/each}}
                    </div>
                </section>
                {{/if}}
            </div>

            <div class="meta report-section">
                <section>
                    <header class="image-container">
                        <img src="http://marketplace.ghost.org/wp-content/uploads/2013/09/casper.jpg">
                    </header>

                    <div class="report-meta">
                        <ul>
                            <li><strong>Last Updated:</strong> Unknown</li>
                            <li><strong>Tags:</strong> Theme, Ghost, Personal, Minimal, Responsive</li>
                            <li><a href="https://demo.ghost.io">Website</a></li>
                            <li><a href="https://github.com/TryGhost/Casper">Source code</a></li>
                        </ul>
                    </div>
                </section>
            </div>

            <div class="info report-section">
                <section>
                    {{#if features}}
                        <article class="features">
                            <h3>Features</h3>
                            <ul>
                                {{#each features}}
                                    <li>{{{name}}}</li>
                                {{/each}}
                            </ul>
                        </article>
                    {{/if}}
                </section>
            </div>

        </div>

    </div>
</section>
