<section class="report">
    <header>
        <h2 class="report-heading">
            <span class="score {{results.score.level}}">{{results.score.value}} / 100</span>
            <span class="title">Casper 1.2.7</span>
        </h2>
    </header>

    <div class="report-body">
        <div class="results report-section">
            {{#if results.error}}
            <section class="level-group">
                <header class="level-group-header">
                    <h3 class="level"><span class="indicator error"></span>Must fix:</h3>
                </header>
                <div class="rule-group">
                    {{#each results.error}}
                        {{> rule-fail}}
                    {{/each}}
                </div>
            </section>
            {{/if}}

            {{#if results.warning}}
            <section class="level-group">
                <header class="result-group-header">
                    <h3 class="level"><span class="indicator warning"></span>Should fix:</h3>
                </header>
                <div class="rule-group">
                    {{#each results.warning}}
                        {{> rule-fail}}
                    {{/each}}
                </div>
            </section>
            {{/if}}

            {{#if results.recommendation}}
            <section class="level-group">
                <header class="result-group-header">
                    <h3 class="level"><span class="indicator recommendation"></span>Consider fixing:</h3>
                </header>
                <div class="rule-group">
                    {{#each results.recommendation}}
                        {{> rule-fail}}
                    {{/each}}
                </div>
            </section>
            {{/if}}

            {{#if results.pass}}
            <section class="level-group">
                <header class="result-group-header">
                    <h3 class="level"><span class="indicator passing"></span>{{results.pass.length}} Passed Rules</h3>
                </header>
                {{> toggle}}
                <div class="rule-group details hide">
                    {{#each results.pass}}
                        {{> rule-pass}}
                    {{/each}}
                </div>
            </section>
            {{/if}}
        </div>

        <div class="meta report-section">
            <section>
                <header class="image-container">
                    <img src="http://marketplace.ghost.org/wp-content/uploads/2013/09/casper.jpg">
                    <p>The default personal blogging theme for Ghost. Beautiful, minimal and responsive.</p>
                </header>

                <div class="report-meta">
                    <dl>
                        <dt>Last Updated: <dd class="date">Unknown</dd></dt>
                        <dt>Compatibility:</dt><dd class="compatibility">Coming Soon</dd>
                        <dt>Tags:</dt><dd>Theme, Ghost, Personal, Minimal, Responsive</dd>
                        <dt><a href="https://demo.ghost.io">Theme homepage</a></dt><dd>&rarr;</dd>
                        <dt><a href="https://github.com/TryGhost/Casper">Browse the code</a></dt><dd>&rarr;</dd>

                    </dl>
                </div>
            </section>
        </div>

        <div class="info report-section">
            <section>
                {{#if features}}
                    <article class="features">
                        <h3>Features</h3>
                        <ul>
                            {{#each features}}
                                <li>{{{name}}}</li>
                            {{/each}}
                        </ul>
                    </article>
                {{/if}}
            </section>
        </div>

    </div>

</section>
