<h4 class="pricing-subheader center-text">Upload a zip file to check a theme for errors, deprecations and other compatibility issues.</h4>
<section class="form center-text">
    <form action="/" method="post" enctype="multipart/form-data" class="clearfix">
        <input type="file" name="theme" id="theme" />
        <button class="button-add" id="theme-submit" type="submit">Upload</button>
    </form>
</section>
