<section class="gh-section gh-section-gscan-uploader">
    <div class="inner">
        <header class="gh-header">
            <h1>Scan Your Theme</h1>
            <p class="gh-subhead">Upload a zip to check for errors, deprecations and other compatibility issues.</p>
        </header>
        <section class="gh-gscan-uploader">
            <form action="/" method="post" enctype="multipart/form-data" class="clearfix">
                <input type="file" name="theme" id="theme" />
                <button class="gh-btn gh-btn-blue" id="theme-submit" type="submit"><span>Upload</span></button>
            </form>
        </section>

    </div>

</section>
