<section class="gh-section gh-section-gscan-uploader">
    <div class="inner">
        <header class="gh-header">
            <h1>Scan Your Theme</h1>
            <p class="gh-subhead">Upload a zip to check for errors, deprecations and other compatibility issues.</p>

            <a href="https://themes.ghost.org/v2.0.0/docs/changelog" target=_blank class="gh-morelink">
                See the changelog for Ghost 2.0 themes
                <svg viewBox="0 0 18 27" xmlns="http://www.w3.org/2000/svg"><path d="M2.397 25.426l13.143-11.5-13.143-11.5" stroke-width="3" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round"></path></svg>
            </a>
        </header>
        <section class="gh-gscan-uploader">
            <form class="gh-gscan-uploader-form" action="/" method="post" enctype="multipart/form-data">
                <div class="gh-form-group">
                    <input class="gh-input" type="file" name="theme" id="theme" />
                </div>
                <div class="gh-form-group">
                    <label for="version">Ghost version:</label>
                    <span class="gh-input-icon select-arrow">{{> icon-arrow-up}}</span>
                    <span class="gh-input-icon select-arrow active">{{> icon-arrow-down}}</span>
                    <select class="gh-input gh-select" name="version" id="version">
                        <option value="latest" selected>{{ghostVersions.latest.major}} (latest)</option>
                        <option value="v1">{{ghostVersions.v1.major}}</option>
                    </select>
                </div>

            <button class="gh-btn gh-btn-blue" id="theme-submit" type="submit"><span>Start scanning</span></button>
            </form>
        </section>
    </div>
</section>
