
{{#if @member.paid}}

    {{!-- Logged in, paying member: Show account info --}}
    <div class="subscriber-box">

        {{#foreach @member.subscriptions}}
            <div class="subscription subscription-status-{{status}}">
                <div class="subscriber-header">
                    <div class="subscription-title">
                        {{#if @first}}
                            <h1>First</h1>
                        {{/if}}
                        {{#if @last}}
                            <h2>Last</h2>
                        {{/if}}
                        {{#if @even}}
                            <h3>Even</h3>
                        {{/if}}
                        {{#if @odd}}
                            <h4>Odd</h4>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/foreach}}
    </div>
{{/if}}