<!DOCTYPE html>
<html>
<head>
    <title>{{@site.title}}</title>
</head>
<body>
    <h1>Welcome</h1>

    {{#foreach posts}}
        <article>
            <h2>{{title}}</h2>
        </article>
    {{/foreach}}
</body>
</html>
