<html>
<head>
    <title>Test Theme</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
    {{price @price.monthly currency=@price.currency}}
    {{price @price.yearly currency=@price.currency}}

</body>
</html>