/* Header */
h1 a {
    color: #393939
}

h1 a:hover {
    box-shadow: none;
}

h1 .version {
    color: #b1bbbe;
    font-size: 16px;
    font-weight: normal;
    padding-left: 3px;
    letter-spacing: -0.5px;
}

/* Footer */
.slack {
    max-width: 220px;
    margin-left: -20px;
}

/* Report */
.report {
    font-size: 16px;
    padding: 30px;
}

.report-body {
    display: flex;
    flex-flow: row wrap;
}

.report-section {
    padding: 0px 10px;
}

.report-section.results {
    width: 60%;
    flex-grow: 1;
}

.report-section.meta {
    width: 40%;
    flex-grow: 1;
}

.info {
    width: 100%;
    flex-grow: 2;
}

.report-meta dt, .report-meta dd {
    margin-bottom: 0px;
    margin-top: 0px;
}

.report-meta dt a {
  font-weight: normal;
}

.image-container img {
    max-width: 100%;
}

.report-heading {
    margin: 0px 15px 1em;
    font-size: 36px;
}

.report h3, .report h4 {
    line-height: 1.6;
}

.report h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    margin: 0 5px 6px;
}

.report h4 {
    font-size: 16px;
    margin: 0;
    opacity: 1;
    font-weight: normal;
}

.report .pull-right {
    float: right;
    margin-right: 30px;
}

.level-group {
    padding: 8px 0 14px;
}

.level-group .rule {
    padding: 5px 5px 20px;
}

.level-group .rule.expanded {
    background: #e2edf2;
}

/** Details Toggle */
.toggle-details .hide {
    display: none;
}

.toggle-details {
    display: inline-block;
    height: 20px;
    opacity: 1;
    overflow: hidden;
    padding: 0 0 0 14px;
    margin-left: -5px;
    margin-top: 2px;
    position: relative;
    font-size: 15px;
    cursor: pointer;
}

.toggle-details:before {
    content: ">";
    left: 5px;
    top: 3px;
    color: #000;
    font-size: 12px;
    font-family: monospace;
    position: absolute;
}

.details.hide {
    display: none;
}

/** Score Indicators */
.indicator {
    font-weight: bold;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-right: 6px;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    background: transparent;
    line-height: 1.5;
}

.score {
    color: #fff;
    padding: 0px 4px;
}

.indicator.error:before, .indicator.warning:before {
    content: '!';
    margin-top: -2px;
}
.indicator.recommendation:before {
    content: '?';
}
.indicator.passing:before {
    content: '\2713\0020';
    margin-left: -2px;
}

.indicator.error {
    border: #e25440 2px solid;
    color: #d1341f;  /* lightness -10% */
}
.score.error {
    background: #e25440;
}
.indicator.warning, .recommendation {
    border: #f2a925 2px solid;
    color: #d9910d;  /* lightness -10% */
}
.score.warning {
    background: #f2a925;
}
.indicator.passing {
    border: #9fbb58 2px solid;
    color: #859f41; /* lightness -10% */
}
.score.passing {
    background: #9fbb58;
}

/* Features */
.features li {
    list-style-type: none;
}

.features li:before {
    content:"\2713\0020";
}

/* Tags */
.tags li {
    list-style-type: none;
    display: inline;
}

.tags li:after{
    content: ","
}

.tags li:last-child:after {
    content: "."
}

/* Needed to override the application styles */
button[type="submit"].button-add:disabled,
button[type="submit"].button-add:disabled:hover {
    cursor: not-allowed;
    background: #eeefef;
    color: #b3b9ba;
}
