{{#if @gift}}
    {{!-- Reader arrived via a gift link, show a banner --}}
    <div class="gift-banner" data-post-id="{{@gift.post_id}}">
        <p>You're reading a gifted post.</p>
    </div>
{{/if}}
