<html>
<head>
    <title>Test Theme</title>
    <!-- External scripts with absolute URLs don't need the {{asset}} helper -->
    <script defer src="https://assets.example.com/assets/v2/js/code.js"></script>
    {{ghost_head}}
</head>
<body>
    <h1>{{@blog.title}}</h1>
    {{ghost_foot}}
</body>
</html>