<html>
<head>
    <title>GScan</title>
    <link href="https://ghost.org/assets/application-fa692c48af50d385eab8e8fcf5aeca04.css" media="all" rel="stylesheet">
</head>
<body class="home">
<header id="global-header" class="global-header navbar">
    <nav role="navigation">
        <div class="wrapper">
            <a class="ghost-logo current" href="https://ghost.org/"><span>Ghost</span></a>
        </div>
    </nav>
</header>
<div class="clearfix"></div>
<main role="main">
    <section class="home-banner">
        <div class="inner">
            <h1 class="center-text">GScan</h1>
            {{{body}}}
        </div>
    </section>
</main>
</body>
</html>