{{!< default}}

<h2>Results</h2>

{{#if results}}
    <table>
        {{#each results}}
            <tr>
                <td>{{type}}</td>
                <td>{{ref}}</td>
                <td>{{message}}</td>
            </tr>
        {{/each}}
    </table>

    <a href="/">Start Over</a>
{{else}}
    No issues detected.
{{/if}}