{{!< default}}

<a href="/">Start Over</a>

{{#if results}}
    <table>
        {{#each results}}
            <tr>
                <td>{{type}}</td>
                <td>{{ref}}</td>
                <td>{{message}}</td>
            </tr>
        {{/each}}
    </table>

    <a href="/">Start Over</a>
{{/if}}