name: Deploy
on:
  push:
    tags:
      - v*
jobs:
  build-and-push:
    name: Build and Push
    runs-on: ubuntu-latest
    env:
      REGISTRY: registry.digitalocean.com
      NAME: ghost/gscan
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Get version
        run: echo "IMAGE_VERSION=$(git describe --tags)" >> $GITHUB_ENV

      - name: Publish to DigitalOcean Registry
        uses: elgohr/Publish-Docker-Github-Action@v5
        with:
          registry: ${{ env.REGISTRY }}
          name: ${{ env.NAME }}
          dockerfile: Dockerfile
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          tags: "latest,${{ env.IMAGE_VERSION }}"

      - uses: matootie/dokube@v1.4.1
        with:
          personalAccessToken: ${{ secrets.DIGITALOCEAN_TOKEN }}
          clusterName: ${{ secrets.CLUSTER_NAME }}

      - name: Update deployment
        run: kubectl set image deployment/gscan gscan=${{ env.REGISTRY }}/${{ env.NAME }}:${{ env.IMAGE_VERSION }}
