<html>
<head>
    <title>Test Theme</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
    {{#get "posts" limit="150"}}
        {{#foreach posts}}
            <article>
                <h2>{{title}}</h2>
                <p>{{excerpt}}</p>
            </article>
        {{/foreach}}
    {{/get}}

    {{#get "pages" limit="500" include="tags"}}
        {{#foreach pages}}
            <div class="page">
                <h3>{{title}}</h3>
            </div>
        {{/foreach}}
    {{/get}}

    {{#get "tags" limit="1000"}}
        {{#foreach tags}}
            <span class="tag">{{name}}</span>
        {{/foreach}}
    {{/get}}
</body>
</html>